{% block content %}
<html>
    <head>
        <title>SAE Visualisation de données</title>
    </head>
    <body>
        <h1>Application visualisation de données pour la SAE du semestre 4</h1>
        <p>Thème : La consommation d'énergies en France</p>
        <!-- Faire un tableau avec les données de req venant de app.py -->
        <table>
            <tr>
                <th>Année</th>
                <th>Consommation d'énergie</th>
                <th>Region</th>
                <th>Filière</th>
            </tr>
            {% for row in req %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
{% endblock %}