{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <h1>Application visualisation de données pour la SAE du semestre 4</h1>
            <h4>Thème : La consommation d'énergies en France</h4>
            <p>Ce site regroupe plusieurs sources de données en libre accès fournit par différents opérateurs français<br>
            dans le but de les analyser et de prévenir la consommation énergétique en France</p>
            <p>Les données de gaz et d'electricité sont issues du site <a href="https://www.data.gouv.fr/fr/datasets/consommation-denergie-par-secteur-dactivite-et-par-filiere/">data.gouv.fr</a></p>
            <p>Les données d'eau sont issues du site <a href="https://hubeau.eaufrance.fr/">https://hubeau.eaufrance.fr/</a></p>
            <p>Chaque année, les données sont actualisés et les graphiques sont mis à jour automatiquement</p>
        </div>
    </div>
</div>

{% endblock %}